@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.kas{width: 100px; background: #000; color: #fff;}
.kas1{width: 100%;height: 500px; background: url("./components/Banner/images/image_1.jpg");background-repeat: no-repeat; background-size: 100% 100%;}
.kas2{font-size: 60px;}
.kas3{margin-bottom: -15px;}
.kas4{margin-top: -50px;}
.kas5 {font-size: 20px; padding-top: 80px !important; text-align: center;}
